@import "bootstrap";

body {
  overflow-y: scroll;
  background-color: #ffffff;
  font-family: "Menlo", monospace !important;
}

body,
html {
  -webkit-font-smoothing: antialiased;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.login-button {
  margin: 1rem;
}

.pointer {
  cursor: pointer;
}

.btn-success,
.btn-primary {
  .text-muted {
    color: #fff !important;
  }
}

.outline-none {
  outline: 0 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.btn {
    text-decoration: none;
  }
}
